/* Game.css */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #2f2f2f; /* Slightly darker background color */
  color: #f0f0f0; /* Light text color */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font stack */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  font-size: 32px; /* Larger font size */
  margin-bottom: 20px;
  color: #3498db; /* Blue text color */
  text-transform: uppercase;
}

button {
  margin: 0 10px;
  padding: 14px 28px; /* Larger padding */
  font-size: 18px; /* Larger font size */
  background-color: #3498db; /* Blue button color */
  color: #fff;
  border: none;
  border-radius: 8px; /* Rounder corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

.content {
  color: #f0f0f0; /* Light text color */
  font-size: 20px; /* Larger font size */
  font-weight: normal; /* Normal font weight */
  text-align: center;
  text-shadow: 1px 1px 2px #333; /* Darker text shadow */
  letter-spacing: 1.5px; /* Increased letter spacing */
}
